/*-----------------------Google Fonts--------------------- */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/*-------------------------General----------------------- */ 
body {
    color: #383838;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 3.2rem;
}

h1 .first-name {
    font-weight: 400;
}

h2 {
    font-family: 'EB Garamond', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2.2rem;
    padding-bottom: 3rem;
}

/*-------------------------Header----------------------- */ 
.navbar {
    background-color: #D5F3CD;
    font-weight: 300;
    padding: 1rem 1rem 1rem 2rem;
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #D5F3CD;
}

.navbar-toggler {
    border: none;
}

.offcanvas {
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
    background-color: #383838;
    border-color: #383838;
    padding: 3rem 1.5rem;
}

.offcanvas-backdrop {
    background: none;
}

.nav-hr {
    width: 80%;
    margin: 0.2rem 0;
    color: #D5F3CD;
}

/*-----------------------Intro Section--------------------- */ 
.intro-section {
    background-color: #D5F3CD;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
}

.intro-img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    padding-bottom: 1.5rem;
}

/*-----------------------About Section--------------------- */ 
.about-section {
    text-align: center;
    padding: 1.5rem;
}

/*---------------------Education Section------------------- */ 
.education-section {
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 4rem;
}

/*-----------------------Work Section---------------------- */ 
.work-section {
    text-align: center;
    padding: 1.5rem;
}

/*-----------------------Contact Section--------------------- */ 
.contact-section {
    text-align: center;
    padding: 1.5rem;
    margin: 0 1.5rem 4rem 1.5rem;
    border: #D5F3CD .4rem solid;
}

.contact-details {
    padding: 1rem;
}

.contact-details a {
    text-decoration: none;
    color: #383838;
}
.contact-details a:hover {
    color: #1E824C;
    font-weight: 500;
}

.contact-details i {
    color: #1E824C;
}

.contact-icons a {
    text-decoration: none;
    color: #1E824C;
}
.contact-icons a:hover {
    text-shadow: .04rem .04rem .08rem #000;
}

.contact-icons i {
    font-size: 2rem;
    padding: 1rem;
}

#contactForm {
    padding: 1rem;
}

#contactForm label,
#contactForm small {
    float: left;
}

#contactForm #submit {
    background-color: #D5F3CD;
    border: none;
    padding: 1rem 4rem;
    font-size: .9rem;
}
#contactForm #submit:hover {
    box-shadow: .1rem .1rem .5rem #000;
}

/*-----------------------Projects Links--------------------- */
.projects-link {
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 4rem;
}

.projects-link button {
    background-color: #D5F3CD;
    border: none;
    padding: 1rem 4rem;
    font-size: .9rem;
}

.projects-link a {
    text-decoration: none;
    color: #383838;
}

.projects-link button:hover {
    box-shadow: .1rem .1rem .5rem #000;
}

/*-------------------------Footer----------------------- */ 
footer {
    background-color: #383838;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #D5F3CD;
    text-shadow: .05rem .05rem .1rem #000;
}

.footer-icons i {
    font-size: 1.7rem;
    padding: 1rem;
}

.footer-link {
    padding: 1rem;
}

footer .copyright {
    font-size: .8rem;
    font-weight: 300;
    text-align: right;
    padding-top: 1rem;
}

/*-----------------------Media Queries--------------------- */ 
@media only screen and (min-width: 576px) {
    .navbar-light .navbar-nav .nav-link {
        color: #383838;
        font-weight: 400;
    }
    .navbar-light .navbar-nav .nav-link.active {
        font-weight: 500;
        color: #383838;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        font-weight: 500;   
        color: #383838; 
    }
    .navbar-light .navbar-nav .nav-link.active:hover {
        font-weight: 500;
    }

    .offcanvas {
        padding: 0;
    }
}